<h1>{{title}}</h1>
<p> Welcome To {{title}}</p>

{{#if state}}
	<h3>Your Are <span style="color: green"> Available </span> For Hire Now</h3>
{{else}}
	<h3>Your Are <span style="color: red"> Not Available </span> For Hire Now </h3>
{{/if}}

<ul>
	{{#each skills}}
		<h3>
			|
			{{this}}
		</h3>
	{{/each}}

</ul>
<hr />

<ul>
	{{#each skills as |value index|}}
		<h3>
			<span style="color: orange">{{index}}</span>
			|
			{{value}}
		</h3>
	{{/each}}
</ul>