aside.sidebar#sidebar
    h3.dashboard-title Dashboard

    ul.main-ul
        li.main-link: a.main-head-link(href="./dashboard.html" class=pageTitle === "Dashboard Page"? "active-page": "") Dashboard 

        li.main-link
            span.link-title Forms #[i.fas.fa-angle-right.link-arrow]
            ul.nested-ul 
                li.nested-link: a.nested-head-link(href="inputs.html" class=pageTitle === "Inputs Page"? "active-page": "") Inputs 
                li.nested-link: a.nested-head-link(href="textArea.html" class=pageTitle === "TextArea Page"? "active-page": "") TextArea 
                li.nested-link: a.nested-head-link(href="checkbox.html" class=pageTitle === "Checkbox Page"? "active-page": "") Checkbox 
                li.nested-link: a.nested-head-link(href="radio.html" class=pageTitle === "Radio Page"? "active-page": "") Radio Button  

        li.main-link
            span.link-title Misc #[i.fas.fa-angle-right.link-arrow]
            ul.nested-ul 
                li.nested-link: a.nested-head-link(href="./loading.html" class=pageTitle === "Loading Page"? "active-page": "") Loading
                li.nested-link: a.nested-head-link(href="./breadcrumbs.html" class=pageTitle === "Breadcrumbs Page"? "active-page": "")  Breadcrumbs
