div.container
    h2 description 
    h2= "head"
    h2 description #[span nested]
    h2: p nexted Elements
    h2(
        id="one",
        class="two"
        style="color: red",
        data-key="1"
    )
    h2 I Love 
        // Empty Pipeline -> Seperated The Elements In New Line 
        |
        b Pug.js
        | 
        | And
        |
        b Sass
    .
        Nested In The Parent UL
        | And Ignore The Pipeline
    // Normal Comment
    //- Hidden Comment
    // multible Comment
        [1] lines 1
            - one

        [2] lines 2
            - two
